.info{
    
    width: 99%;
    height: 350px;    
    border-radius: 20px;
    background-color: rgb(224, 238, 250);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 7px;
    background-image: url(https://t4.ftcdn.net/jpg/04/10/03/61/240_F_410036113_HkUBHTrJn3PZFC8Ppuv4N6JaHr9ZqjXy.jpg);
    background-repeat:  repeat;
    background-size: 80%;
    background-position: center;
    display: flex;
    gap: 10px;
}  
.info::-webkit-scrollbar{
    background-color:rgba(255, 255, 255, 0) ;
    height: 10px;
    width: 80%;
}
.info::-webkit-scrollbar-thumb{
    background-color:rgba(135, 135, 135, 0.621) ;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 30px;
}
.info ::-webkit-scrollbar-thumb:hover{    
    background-color:rgba(64, 117, 134, 0.747) ;
}  
.info img{
    height: 230px;
    margin-top:130px ;
    margin-left: -10px;
    display: inline-block;
    flex: 1;
    filter: drop-shadow(0 0 0.75rem rgb(41, 108, 146));
}
.blocks{
    display: inline;
    flex: 3;
    height: 90%;
    width: 400px;
    backdrop-filter: blur(2px);
    border: 4px solid rgba(135, 207, 235, 0.445);
    margin: auto 20px;
    border-radius: 15px;  
    background: linear-gradient(0deg, rgba(207, 229, 248, 0.516), rgba(145, 211, 244, 0.562));
    
    user-select: none;
}
.blocks h3{
    margin: 30px;
    font-size: 1.5em;
    color: aliceblue;
    text-shadow: 0 0 5px gray;
}
.blocks .status{
    border: 4px solid red;
    width: 80%;
    height: 50px;
    margin: 0 auto;
    border-radius: 15px;
    color: red;
    text-shadow: 0 0 10px lightcoral;
    text-align: center; 
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blocks .active{
    color: green;
    text-shadow: 0 0 10px lightgreen;
    border: 4px solid green;

}
.blocks .su{
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    color: aliceblue;
    text-shadow: 0 0 5px gray;
    font-size: 1.4em;
    line-height: 50px;
}
.blocks .su span{
    color: rgb(136, 227, 56);
    margin: 20px;
    font-size: 1.8em;
}
.blocks .su span.red{
    color: rgb(227, 79, 56);
}

